<h2>Olympic games app</h2>
<hr/>
<div>
  <div>
@if (errorMessage) {
  <p role="alert">{{ errorMessage }}</p>
} @else {
  <!-- Votre affichage des pays -->

    <div class="center">
      <div>{{ titlePage }}</div>
    </div>
    <div class="split">
      <div>
        <p>Number of countries</p>
        <p>{{ numberOfCountries }}</p>
      </div>
      <div>
        <p>Number of JOs</p>
        <p>{{ numberOfJOs }}</p>
      </div>
    </div>
  }
  </div>
  <canvas id="DashboardPieChart">{{ pieChart }}</canvas>
</div>
